<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacherStyles.css') }}">
    <title>{{ username }}</title>
</head>
<body>
    <div id="menu_cell">
      <select id="asignatureSelect" class="listSelect">
        <option value="">Cargando...</option>
      </select>
      <select id="gradeSelect" class="listSelect">
        <option value="">Cargando...</option>
      </select>
    </div>
    <table id="studentsTable" data-asignature-id="{{ id_asignature|default('') }}">
  <tr id="headers">
  </tr>
  <tr id="studentsRows">
  </tr>

</table> 
<button id="addNoteColumn">Agregar columna de nota</button>
</body>
<script src="{{ url_for('static', filename='js/teacher.js') }}"></script>
</html>