/*
* COLORES DE LA PAGINA
*/
:root{
    --bg: #f5f7fb; --card: #ffffff; --accent: #2563eb; --muted: #6b7280; 
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
}

table, th, td {
    margin: 0px 0px 10px 0px;
    border: var(--muted) 2px solid;
    border-collapse: collapse;
    background-color: var(--card);
    box-shadow: 0 6px 20px rgba(16, 24, 40, .08);
}

td {
    padding: 10px 12px;
    background-color: var(--card);
    border-color: var(--muted);
    font-weight: 600;
}

th {
    padding: 10px 12px;
    background-color: var(--muted);
    border-color: var(--card);
    color: #fff;
    text-align: center;
    font-weight: 600;
}

#headerNameStudents {
    width: auto;
}

input[type=number], input[type=text], input:focus {
    border: none;
    outline: none;
    width: 100%;
    text-align: right;
    font-size: 16px;
}

#menu_cell {
    margin: 0;
    background-color: var(--bg);
    padding: 20px;
}

button{
    display: inline-block;
    margin: 10px 10px;
    width: 200px;
    padding: 10px 12px;
    background-color: var(--accent);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

#asignatureSelect {
    width: 150px;
    height: 35px;
}

#gradeSelect {
    width: 75px;
    height: 35px;
}

.listSelect {
    display: inline-block;
    margin: 10px 10px;
    width: 200px;
    padding: 10px 12px;
    background-color: var(--accent);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.div {
    background-color: var(--bg);
    display: inline-block;
    margin: 10px 10px;
    width: 200px;
    padding: 10px 12px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

option {
    display: inline-block;
    margin: 10px 10px;
    width: 200px;
    padding: 10px 12px;
    background-color: var(--accent);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

option:hover {
    cursor: pointer;
    color: #fff;
    background-color: #3f78f3;
}

#asignatureSelect.hide, button.hide {
    display: none;
}

#err-not-found-students {
    display: inline-block;
    margin: 10px auto;
    width: 200px;
    padding: 10px 12px;
    background-color: var(--accent);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}